# import(methods)
import(Rcompression)
import(XML)

# WordprocessingMLParts,

export(
addDefaultContentType,
addExtensionTypes,
category,
commentNodes,
commentTable,
commentTable2,
comments,
contentTypes,
createOODoc,
created,
creator,
"creator<-",
description,
getDocument,       
getEntryType,
getEntryTypeByExtension,
getImages,
getPart,
getRelationships,
keywords,
modified,
properties,
property,
resolveRelationships,
revision,
setProperty,
setUpdated,
subject,
Title
)

exportMethods(getImages)

export(
#addImage,       
addToDoc
)

export(hyperlinks)

exportMethods(getPart)

exportClass(OOXMLArchive)

#S3method("[[", "OOXMLArchive")
exportMethods("[[")

#getPart_default,

#export(getOOXMLPartsTable)
#exportMethods(getOOXMLPartsTable)

exportMethods(getImages)
export(getDocElementName, getRelationshipsDoc)
